#Quality {
  padding: 100px 0;
  .Quality_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .Quality_image {
      display: flex;
      align-items: center;
      width: 300px;
      h1 {
        font-family: "Shalimar", cursive;
        font-size: 30px;
        font-weight: 400;
        color: white;
      }
    }
    h1 {
      font-family: Silk Serif;
      font-size: 40px;
      font-weight: 600;
      line-height: 61.36px;
      color: #ffffff;
      width: 395px;
      text-align: center;
    }
  }
  .Quality {
    padding: 50px 0;
    display: flex;
    align-items: start;
    justify-content: space-between;
    .Quality_left {
      text-align: center;
      width: 363px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      background: #1f2731;
      padding: 30px 0;
      h2 {
        font-size: 24px;
        font-weight: 600;
        color: #ffffff;
        line-height: 36.82px;
        width: 363px;
        cursor: pointer;
        height: 66px;
      }
    }

    .Qualtiy_mar4ik {
      display: flex;
      flex-direction: column;
      height: 800px;
      justify-content: space-between;
      .Quality_right {
        display: flex;
        flex-direction: column;
        align-items: start;
        position: relative;
        gap: 20px;
        .Quality_main {
          display: flex;
          align-items: center;
          gap: 20px;
          h3 {
            font-size: 20px;
            font-weight: 600;
            color: #ffffff;
          }
          h2 {
            font-size: 20px;
            font-weight: 600;
            color: #ef272c;
          }
        }
        p {
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          color: grey;
          width: 512px;
        }
        a {
          position: absolute;
          bottom: 0;
          right: 0;
          font-size: 16px;
          color: #ffffff;
          font-weight: 600;
          border-bottom: 1px solid white;
        }
      }
    }
  }
  .Main_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    button {
      width: 220px;
      height: 42px;
      border: 1.6px solid #ef272c;
      background: transparent;
      border-radius: 2px;
      font-size: 16px;
      color: #ffffff;
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: center;
      font-weight: 600;
      cursor: pointer;
      text-transform: uppercase;
    }
  }
}


@media (max-width: 1024px) {
  #Quality {
    padding: 70px 0;
    .Quality_text {
      .Quality_image {
        h1 {
          font-size: 28px;
        }
      }
      h1 {
        font-size: 35px;
        line-height: 55.36px;
        width: 395px;
      }
    }
    .Quality {
      padding: 40px 0;
      gap: 60px;
      .Quality_left {
        width: 100%;
        max-width: 333px;
        gap: 20px;
        padding: 20px 0;
        h2 {
          width: 100%;
          font-size: 22px;
          line-height: 36.82px;
          height: 56px;
        }
      }
  
      .Qualtiy_mar4ik {
        height: 600px;
        .Quality_right {
          gap: 20px;
          .Quality_main {
            gap: 20px;
            img {
              width: 100%;
              max-width: 300px;
            }
            h3 {
              font-size: 18px;
            }
            h2 {
              font-size: 18px;
            }
          }
          p {
            font-size: 13px;
            width: 100%;
            max-width: 402px;
          }
          a {
            font-size: 16px;
          }
        }
      }
    }
    .Main_buttons {
      button {
        width: 220px;
        height: 42px;
        font-size: 15px;
      }
    }
  }
  
}
@media (max-width: 834px) {
  #Quality {
    padding: 50px 0;
    .Quality_text {
      .Quality_image {
        h1 {
          font-size: 24px;
        }
        img {
          width: 40px;
        }
      }
      h1 {
        font-size: 30px;
        line-height: 55.36px;
        // width: 430px;
      }
    }
    .Quality {
      padding: 40px 0;
      gap: 40px;
      .Quality_left {
        width: 100%;
        max-width: 283px;
        gap: 20px;
        padding: 20px 0;
        h2 {
          font-size: 20px;
          line-height: 30.82px;
          height: 46px;
        }
      }
  
      .Qualtiy_mar4ik {
        height: 550px;
        .Quality_right {
          gap: 20px;
          .Quality_main {
            gap: 20px;
            img {
              width: 100%;
              max-width: 200px;
            }
            h3 {
              font-size: 16px;
              min-width: 105px;
            }
            h2 {
              font-size: 16px;
            }
          }
          p {
            font-size: 12px;
            width: 100%;
            max-width: 350px;
          }
          a {
            font-size: 16px;
          }
        }
      }
    }
    .Main_buttons {
      button {
        width: 220px;
        height: 42px;
        font-size: 15px;
      }
    }
  }
  
}

@media (max-width:700px) {
  #Quality {
    .Quality {
      .Quality_left {
        max-width: 100%;
      }
      .Qualtiy_mar4ik {
        display: none;
        .Quality_right {
          
        }
      }
    }
    .Main_buttons {
      button {
        width: 220px;
        height: 42px;
        font-size: 15px;
      }
    }
  }
  
}