#Header {
  padding: 10px 0;
  position: sticky;
  background: #1b2026;
  z-index: 999;
  position: relative;
  top: 0;
  .Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .Header_nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 500px;
      a {
        font-size: 16px;
        color: #ffffff;
        font-weight: 500;
      }
    }
    .Header_buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 300px;
      button {
        width: 187px;
        height: 37px;
        border-radius: 8px;
        background: #ef272c;
        border: 0.8px solid #5609bb33;
        border: none;
        color: #ffffff;
        font-size: 17px;
        font-weight: 400;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding-left: 20px;
        gap: 10px;
      }
      select {
        border: none;
        background: transparent;
        color: white;
        font-size: 18px;
        outline: none;
      }
    }
    .Header_nav_mobile {
      position: absolute;
    }
  }

  .BlockSearchtext {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    input {
      width: 335px;
      height: 37px;
      border-radius: 4px;
      z-index: 1;
    }
    button {
      position: absolute;
      right: -150px;
      top: 20px;
      border: none;
      background: 0;
      color: white;
      font-size: 20px;
      cursor: pointer;
    }
  }
  .results {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 5px;
    padding: 10px;
    height: 300px;
    margin-top: -300px;
    .resultItem {
      display: flex;
      gap: 5px;
      padding: 10px;
      background: rgb(255, 255, 255);
      border-radius: 5px;
      .Search_img {
        width: 100px;
        height: 100%;
        border-radius: 3px;
      }
    }
  }
}
