#Main {
  background: url("../../../assets/images/Main_image.png") no-repeat center/cover;
  
  .Main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 73vh;
    gap: 30px;
    position: relative;

    .Main_icon {
      display: flex;
      align-items: center;
      gap: 30px;

      h2 {
        font-size: 40px;
        font-weight: 400;
        color: #ffffff;
        font-family: "Shalimar", cursive;
      }
    }

    h1 {
      font-size: 64px;
      font-weight: 600;
      color: #ffffff;
    }

    p {
      width: 516px;
      font-size: 20px;
      font-weight: 500;
      line-height: 17.92px;
      text-align: center;
      color: #ffffff;
    }

    .Main_buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      button {
        width: 220px;
        height: 42px;
        border: 1.6px solid #ef272c;
        background: transparent;
        border-radius: 2px;
        font-size: 16px;
        color: #ffffff;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }

  .Main_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .Main_left, .Main_right {
      display: flex;
      align-items: center;
      gap: 30px;

      h2 {
        font-size: 14px;
        font-weight: 600;
        color: white;
      }

      p {
        font-size: 14px;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.54);
      }
    }
  }

  .Main_line {
    width: 100%;
    border: 0.2px solid grey;
    margin: 20px 0;
  }

  .Main_line1 {
    height: 340px;
    background: grey;
    width: 1px;
    position: absolute;
    top: 43%;
  }

  // Медиазапросы для мобильных устройств
  @media (max-width: 768px) {
    .Main {
      gap: 20px;

      h1 {
        font-size: 48px;
      }

      p {
        width: 90%;
        font-size: 18px;
      }

      .Main_buttons button {
        width: 200px;
        height: 40px;
      }
    }

    .Main_bottom {
      flex-direction: column;
      align-items: flex-start;

      .Main_left, .Main_right {
        gap: 20px;

        h2, p {
          font-size: 12px;
        }
      }
    }

    .Main_line1 {
      height: 250px;
      top: 50%;
    }
  }

  // Медиазапросы для телефонов
  @media (max-width: 480px) {
    .Main {
      gap: 15px;

      h1 {
        font-size: 36px;
      }

      p {
        font-size: 16px;
      }

      .Main_buttons button {
        width: 180px;
        height: 38px;
      }
    }

    .Main_bottom {
      .Main_left, .Main_right {
        gap: 15px;

        h2, p {
          font-size: 10px;
        }
      }
    }

    .Main_line1 {
      height: 200px;
      top: 55%;
    }
  }
}
