#Menu {
  padding: 100px 0;
  .Menu {
    display: flex;
    align-items: end;
    justify-content: space-between;
    .Menu_text {
      display: flex;
      gap: 30px;
      align-items: center;
      h2 {
        font-family: "Shalimar", cursive;
        font-size: 30px;
        font-weight: 400;
        color: #ffffff;
      }
      img {
        width: 60px;
      }
    }
    .Menu_left {
      h1 {
        font-size: 40px;
        font-weight: 600;
        color: #ffffff;
        width: 365px;
        padding-bottom: 60px;
      }
    }
    .Menu_right {
      p {
        font-family: Spartan;
        font-size: 16px;
        font-weight: 400;
        color: grey;
        width: 539px;
        line-height: 24px;
      }
      img {
        padding-top: 70px;
      }
    }
  }
}

@media (max-width: 375) {
  .Menu {
    flex-direction: column;
  }
}
